<div class = "modal-header">
  <h1> New project</h1>
  <%= simple_form_for project do |p| %>
    <div class = "modal-body">
    	<%= p.input :name %>
    	<%= p.submit "Save", class: 'btn-save btn btn-primary' %>
    </div>
  <% end %>
</div>