<div class = "modal-header">
  <h1> New project</h1>
  <%= simple_form_for project, remote: true do |p| %>
    <div class = "modal-body">
    	<%= p.input :name, placeholder: "new project" %>
    	<%= p.submit "Save", class: 'btn-save btn' %>
    </div>
  <% end %>
</div>