<div id = "new_btn" class = "btn btn-large" ><%= link_to "New Project", new_project_path, remote: true %></div>

<div id = "project_list" class = "container">
  <br />
  <%= render 'projects', projects: @projects %>
</div>
<br />

<div id = "modal" class = "modal fade"> </div>
